<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/common_head.html' %}

    <title>401 Unauthorized</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
            color: #ff0000;
        }
        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    {% include 'shared/content_header.html' %}

    <h1>401 Unauthorized</h1>
    <p>You are not authorized to access this content.</p>

    {% include 'shared/content_footer.html' %}

</body>
</html>