<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cubecana - Largest Lorcana Cube List Online</title> <!-- Intentional override -->
    {% include 'shared/common_head.html' %}

    <style>
        .container {
            width: 55%;
            height: 80%;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 20px auto; /* Center the container */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
        }
        .item {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            text-decoration: none; /* Remove underline from links */
            color: inherit; /* Inherit text color */
            display: block; /* Make the entire item clickable */
        }
        .item:last-child {
            border-bottom: none;
        }
        .tags {
            margin-top: 5px;
        }
        .tag {
            display: inline-block;
            background-color: #f1f1f1;
            border-radius: 3px;
            padding: 2px 5px;
            margin-right: 5px;
            font-size: 12px;
        }
</style>
</head>
<body>
    {% include 'shared/content_header.html' %}
    <h1>Cube Directory</h1>

    <template id="cube-list-element-template">
        <div id="element-name" class="name"></div>
        <div id="element-cards" class="cards"><img src="/static/cards.png" alt="Card Image" style="width: 20px; height: 20px;"></div>
        <div id="element-author" class="author"></div>
        <div id="element-tags" class="tags">
            <!-- <span class="tag">Synergy</span> -->
        </div>
        <div id="element-last-updated" class="last-updated"></div>
    </template>

    <div class="container" id="cubeContainer">
        <!-- Items will be populated here by JavaScript -->
    </div>
    <script>
        let cubes = [
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'InkPlayQuest 480 Cube',
            cards: 480,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/QkdBtTVQ0hTXaG33LsKC",
            author: "InkPlayQuest",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'The Anti-Meta Cube v1.0',
            cards: 400,
            tags: ['Synergy'],
            link: "https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo",
            author: "Stopthief",
            lastUpdated: "2021-09-01"
        },
        {
            name: 'JottoOtts Lorcana Cube 5.0',
            cards: 540,
            tags: ['Power Max'],
            link: "https://dreamborn.ink/decks/Yrfs4JNmWqUMWhz8SfsB",
            author: "JottoOtts",
            lastUpdated: "2021-09-01"
        }
    ];

        const container = document.getElementById('cubeContainer');

        cubes.forEach(cube => {
            if ("content" in document.createElement("template")) {
                // Instantiate the table with the existing HTML tbody
                // and the row with the template
                const template = document.getElementById("cube-list-element-template");

                // Clone the new row and insert it into the table
                let clone = template.content.cloneNode(true);
                let name = clone.getElementById("element-name").texContent = cube.name;
                let cards = clone.getElementById("element-cards").texContent = cube.cards;
                let author = clone.getElementById("element-author").texContent = "by: " + cube.author;
                let tags = clone.getElementById("element-tags").texContent = cube.tags;
                let lastUpdated = clone.getElementById("element-last-updated").texContent = cube.lastUpdated;
             
                container.appendChild(clone);
            }


            // const itemLink = document.createElement('a');
            // itemLink.href = cube.link;
            // itemLink.className = 'item';

            // const nameDiv = document.createElement('div');
            // nameDiv.className = 'name';
            // nameDiv.textContent = cube.name;
            // itemLink.appendChild(nameDiv);

            // const cardsDiv = document.createElement('div');
            // cardsDiv.className = 'cards';
            // const cardImg = document.createElement('img');
            // cardImg.src = '{{ url_for('static', filename='cards.png') }}'; // Replace with the actual path to your image
            // cardImg.alt = 'Card Image';
            // cardImg.style.width = '20px'; // Adjust the size as needed
            // cardImg.style.height = '20px'; // Adjust the size as needed
            // cardsDiv.appendChild(cardImg);
            // cardsDiv.appendChild(document.createTextNode(` ${cube.cards}`));
            // itemLink.appendChild(cardsDiv);

            // const authorDiv = document.createElement('div');
            // authorDiv.className = 'author';
            // authorDiv.textContent = `by: ${cube.author}`;
            // itemLink.appendChild(authorDiv);

            // const tagsDiv = document.createElement('div');
            // tagsDiv.className = 'tags';
            // cube.tags.forEach(tag => {
            // const tagSpan = document.createElement('span');
            // tagSpan.className = 'tag';
            // tagSpan.textContent = tag;
            // tagsDiv.appendChild(tagSpan);
            // });
            // itemLink.appendChild(tagsDiv);

            // container.appendChild(itemLink);
        });
    </script>
    

    {% include 'shared/content_footer.html' %}
</body>
</html>
