<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/common_head.html' %}
    
    <style>
        .disclaimer-text {
            margin: 0 auto;
            width: 50%;
            text-align: left;
        }
    </style>
</head>
<body>
    {% include 'shared/content_header.html' %}

    <div class="disclaimer-text">
        <h1>Disclaimer</h1>
        This website uses trademarks and/or copyrights associated with Disney Lorcana TCG, used under Ravensburger’s <a href="https://cdn.ravensburger.com/lorcana/community-code-en">Community Code Policy</a>. We are expressly prohibited from charging you to use or access this content. This website is not published, endorsed, or specifically approved by Disney or Ravensburger. For more information about Disney Lorcana TCG, visit <a href="https://www.disneylorcana.com/">https://www.disneylorcana.com/</a>.
    </div>

    {% include 'shared/content_footer.html' %}
</body>
</html>
