<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Draft your Lorcana cube online vs bots or friends with just a card list!">
    {% include 'shared/common_head.html' %}
      
    <style>
        textarea {
            width: 100%;
            height: 300px;
        }
        #errorText {
            color: red;
            font-weight: bold;
            display: none;
        }
    </style>
</head>
<body>
    {% include 'shared/content_header.html' %}
    <div id="errorText" style="color: red; display: none; background-color: lightcoral; width: 100%; padding: 10px;" disabled>An error occurred. Please try again.</div>
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 48%;">
            <h1>TTS Export Converter <br />(recommended)</h1>
            <div style="width: fit-content; margin: auto; text-align: left;">
                <div id="tts-instructions" style="list-style-position: inside;">
                    <p>Convert Instructions:
                    <ol>
                        <li>On <a href="https://dreamborn.ink">dreamborn.ink</a>: go to your cube's page</li>
                        <li>Export as TTS: menu > export > TTS > Download JSON</li>
                        <li>Drag and Drop: the file from your downloads folder below</li>
                        <li>Click Convert to download</li>
                    </ol><br />
                    <p>Note: No-longer supports card versions. Use the advanced card list (right).</p>
                    <br>
                </div>
            </div>
            
            <div style="margin-bottom: 20px;">
                <h2>Drag and Drop TTS Export</h2>
                <div id="dropZone" style="border: 2px dashed #ccc; padding: 20px; text-align: center; cursor: pointer;">
                    Drag and drop a .json file here or click to upload
                </div>
                <div id="fileInfo" style="display: none; margin-top: 10px;">
                    <span id="fileName"></span>
                    <button id="removeFileButton" class="danger-button">Remove file</button>
                </div>
                <input type="file" id="fileInput" style="display: none;">
            </div>
            <style>
                #dropZone:hover {
                    color: blue;
                }
            </style>
            <button id="ttsSaveButton" class="action-button" disabled>Download</button>
            <button id="ttsDraftButton" class="action-button" disabled>Draft Now</button>
            <div style="width: fit-content; margin: auto; text-align: left;">
                <div id="draft-instructions" style="list-style-position: inside;">
                    <p>Draft Instructions:
                    <ol>
                        <li>Press convert above to download</li>
                        <li>https://draftmancer.com/ > Settings > Scroll to bottom > <br />Drag-drop the file where it says "Upload a custom card list file by..."</li>
                        <li>Close Settings Window > Bots: 5 > Timer: 0 > "Start"</li>
                    </ol><br />
                </div>
            </div>
        </div>
        
        <div style="width: 48%;">
            <h1>Card List Converter</h1>
            {% include 'shared/common_card_list_input.html' %}
            <button id="cardListSaveButton" class="action-button" disabled>Download</button>
            <button id="cardListDraftButton" class="action-button" disabled>Draft Now</button>
        </div>
    </div>
    {% include 'shared/cube_settings_input.html' %}

    <script type="module" src="{{ url_for('static', filename='js/draft.js') }}"></script>
    {% include 'shared/content_footer.html' %}
</body>
</html>