<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="utf-8">
    <title>
        Lorcana Cube Toolkit
    </title>
    <style>
        .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button:download-btn {
    align-self: center;
}
    </style>
</head>

<body>
    <div class="row">
        <div class="column">
            <h2>Your Draftmancer deck export</h2>
            <textarea id="draftmancer-input-area" rows="45" cols="100">1 Alice - Growing Girl
1 Rapunzel - Gifted Artist
1 LeFou - Opportunistic Flunky</textarea>
            <button id="post-btn">Convert</button>
        </div>
        <div class="column">
            <h2>Your Tabletop Simulator deck</h2>
            <p>Instructions:</p>
            <ol>
                <li>Press Download</li>
                <li>Copy file to C:\Users\USERNAME\Documents\My Games\Tabletop Simulator\Saves\Saved Objects</li>
                <li>In a Tabletop Simulator room:
                    <ol>
                        <li>Press "Objects" in the top left</li>
                        <li>Click "Saved"</li>
                        <li>Drag + drop the file onto the table!</li>
                    </ol>
            </ol>
        <!-- <textarea id="tts-output-area" rows="45" cols="100">
            json data will show up here
        </textarea> -->
    <button id="download-btn" disabled="true">Download</button>
        </div>
      </div> 
    
</body>
<script type="text/javascript">
    const convertButton = document.getElementById('post-btn');
    // const ttsOutputArea = document.getElementById('tts-output-area');
    const downloadButton = document.getElementById('download-btn');

    // https://stackoverflow.com/questions/13405129/create-and-save-a-file-with-javascript
    // Function to download data to a file
    function download(data, filename, type) {
        var file = new Blob([data], {type: type});
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, filename);
        else { // Others
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);  
            }, 0); 
        }
    }

    convertButton.addEventListener('click', async _ => {
        const draftmancerInputArea = document.getElementById('draftmancer-input-area').value.trim();
        var xhr = new XMLHttpRequest();
        var url = "/draftmancer-to-tts/";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            console.log("status: " + xhr.status);
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("responseText: " + xhr.responseText);
                // ttsOutputArea.value = xhr.responseText;
                // var json = JSON.parse(xhr.responseText);
                // druDownload(xhr.responseText, "tts-cube-deck", "json");
                downloadButton.addEventListener('click', async _ => {
                    download(xhr.responseText, "tts-cube-deck.json", "json");
                })
                downloadButton.disabled = false;
            } else {
                console.log("status: " + xhr.status);
            }
        };
        var data = JSON.stringify({ "draftmancer_export": draftmancerInputArea });
        xhr.send(data);
    }
    );
</script>

</html>