<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/common_head.html' %}
    <title>Loading</title>
    <style>
        .loading-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            font-size: 24px;
        }
    </style>
</head>
<body>
    {% include 'shared/content_header.html' %}

    <h1><div id="loading-text">
        Loading
    </div></h1>
    <br />
    
    <script>
        let dots = 0;
        const loadingText = document.getElementById('loading-text');
        setInterval(() => {
            dots = (dots + 1) % 4;
            loadingText.textContent = 'Loading' + '.'.repeat(dots);
        }, 500);
    </script>
</body>
</html>