<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubecana|Draftmancer Converter</title>
    <style>
        header {
            text-align: left;
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-image: url('static/lorcana-cube-club-bg2.jpeg');
            background-size: cover; 
            background-repeat: no-repeat;
            color: white; /* White text for better readability */
        }
        textarea {
            width: 100%;
            height: 300px;
        }
        button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #4CAF50; /* Green background */
            color: white; /* White text */
            border: none; /* Remove borders */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Pointer/hand icon */
            font-size: 16px; /* Increase font size */
        }
        button:disabled {
            background-color: gray; /* Gray background for disabled buttons */
            cursor: not-allowed; /* Not-allowed cursor for disabled buttons */
        }
        button:hover:enabled {
            background-color: #45a049; /* Darker green on hover */
        }
        #errorText {
            color: red;
            font-weight: bold;
            display: none;
        }
        a {
            color: #ffcc00; /* Bright yellow for better visibility */
            text-decoration: underline;
        }
        a:visited:not(.button) {
            color: #b8860b;
        }
    </style>
</head>
<body>
    <header style="height: 100px; overflow: hidden;">
        <a href="/">
            <img src="{{ url_for('static', filename='LCC-Cube-1.png') }}" alt="Home" style="height: 100%;">
        </a>
    </header>
    <div id="errorText" style="color: red; display: none; background-color: lightcoral; width: 100%; padding: 10px;" disabled>An error occurred. Please try again.</div>
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 48%;">
            <h1>TTS Export Converter <br />(recommended)</h1>
            <div style="width: fit-content; margin: auto; text-align: left;">
                <div id="tts-instructions" style="list-style-position: inside;">
                    <p>Convert Instructions:
                    <ol>
                        <li>On <a href="https://dreamborn.ink">dreamborn.ink</a>: go to your cube's page</li>
                        <li>Export as TTS: menu > export > TTS > Download JSON</li>
                        <li>Drag and Drop: the file from your downloads folder below</li>
                        <li>Click Convert to download</li>
                    </ol><br />
                    <p>Note: Retains card versions (e.g. enchanteds)</p>
                    <br>
                </div>
            </div>
            
            <div style="margin-bottom: 20px;">
                <h2>Drag and Drop TTS Export</h2>
                <div id="dropZone" style="border: 2px dashed #ccc; padding: 20px; text-align: center; cursor: pointer;">
                    Drag and drop a .json file here or click to upload
                </div>
                <div id="fileInfo" style="display: none; margin-top: 10px;">
                    <span id="fileName"></span>
                    <button id="removeFileButton" style="color: white; background-color: red;">Remove file</button>
                </div>
                
                <script>
                    const fileInfo = document.getElementById('fileInfo');
                    const fileNameSpan = document.getElementById('fileName');
                    const removeFileButton = document.getElementById('removeFileButton');

                    removeFileButton.addEventListener('click', () => {
                        fileInfo.style.display = 'none';
                        fileInput.value = '';
                        ttsInput = null;
                        fileNameSpan.textContent = '';
                        dropZone.style.display = 'block';
                        ttsConvertButton.disabled = true;
                    });
                </script>
                <input type="file" id="fileInput" style="display: none;">
            </div>
            <style>
                #dropZone:hover {
                    color: blue;
                }
            </style>
            <script>
                const dropZone = document.getElementById('dropZone');
                const fileInput = document.getElementById('fileInput');

                dropZone.addEventListener('click', () => fileInput.click());

                dropZone.addEventListener('dragover', (e) => {
                    e.preventDefault();
                    dropZone.style.borderColor = 'green';
                });

                dropZone.addEventListener('dragleave', () => {
                    dropZone.style.borderColor = '#ccc';
                });

                dropZone.addEventListener('drop', (e) => {
                    e.preventDefault();
                    dropZone.style.borderColor = '#ccc';
                    const files = e.dataTransfer.files;
                    handleFiles(files);
                });

                fileInput.addEventListener('change', (e) => {
                    const files = e.target.files;
                    handleFiles(files);
                });

                function handleFiles(files) {
                    if (files.length > 0 && files[0].type === 'application/json') {
                        const file = files[0];
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            const content = e.target.result;
                            if (content.length > 50000000) {
                                showError('File is too large. Please upload a file smaller than 50MB.');
                                return;
                            }
                            try {
                                JSON.parse(content);
                                ttsInput = content;
                            } catch (e) {
                                console.error(e);
                                showError('Invalid JSON file. Please upload a valid JSON file.');
                            }
                        };
                        reader.readAsText(file);
                        fileNameSpan.textContent = file.name;
                        fileInfo.style.display = 'block';
                        dropZone.style.display = 'none';
                        ttsConvertButton.disabled = false;
                    } else {
                        showError('no file or file is not a json file');
                    }
                }
            </script>
            <button id="ttsConvertButton" disabled>Convert</button>
            <div style="width: fit-content; margin: auto; text-align: left;">
                <div id="draft-instructions" style="list-style-position: inside;">
                    <p>Draft Instructions:
                    <ol>
                        <li>Press convert above to download</li>
                        <li>https://draftmancer.com/ > Settings > Scroll to bottom > <br />Drag-drop the file where it says "Upload a custom card list file by..."</li>
                        <li>Close Settings Window > Bots: 5 > Timer: 0 > "Start"</li>
                    </ol><br />
                </div>
            </div>
        </div>
        
        <div style="width: 48%;">
            <h1>Card List Converter</h1>
        <div style="width: fit-content; margin: auto; text-align: left;">
            <div id="draft-instructions" style="list-style-position: inside;">
                <p>INSTRUCTIONS:</p>
                <ol>
                    <li>On <a href="https://dreamborn.ink">dreamborn.ink</a>: go to your cube's page</li>
                    <li>Press Menu > Export > Copy to clipboard</li>
                    <li>Paste below + press Convert</li>
                </ol>
                <p>Notes:</p>
                <ul>
                    <li>Suppports Ursula's Return Illumineer's Quest Cards</li>
                    <li>May support some cards from unreleased sets</li>
                    <li>Does not retain card versions (e.g. enchanteds)</li>
                </ul>
            </div>
        </div>
        <br />
            <textarea id="cardListInput" placeholder="1 Alice - Growing Girl
1 Let it Go
1 LeFou - Opportunistic Flunky
..."></textarea>
            <br>
            <button id="cardListConvertButton" disabled>Convert</button>
        </div>
    </div>
    <div>
        Cards per Booster: <input type="number" id="cardsPerBooster" value="12" min="1" max="20" step="1" style="width: 50px;" />
    </div>

    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script>
        
        const fromTtsConvertButton = document.getElementById('ttsConvertButton');
        let fromCardListConvertButton = document.getElementById('cardListConvertButton');
        let cardsPerBooster = document.getElementById('cardsPerBooster');
        let ttsInput = null;

        fromTtsConvertButton.addEventListener('click', async _ => {
            hideError();

            var xhr = new XMLHttpRequest();
            var url = "/dreamborn-to-draftmancer/";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) {
                    return;
                }
                
                // success
                if (xhr.status === 200) {
                    console.log("responseText: " + xhr.responseText);
                    download(xhr.responseText, "custom-cube.draftmancer.txt", "txt");
                    return;
                } 

                // error
                if (xhr.status != 200) {
                    handleNon200Response(xhr);
                }
            };
            var data = JSON.stringify({ "dreamborn_export": ttsInput, "settings": { "cards_per_booster": cardsPerBooster.value } });
            xhr.send(data);
        }
        );

        cardListInput.addEventListener('input', () => {
            fromCardListConvertButton.disabled = cardListInput.value.trim().length === 0;
        });

        fromCardListConvertButton.addEventListener('click', async _ => {
            hideError();

            const cardListInput = document.getElementById('cardListInput').value.trim();
            var xhr = new XMLHttpRequest();
            var url = "/card-list-to-draftmancer/";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) {
                    return;
                }
                
                // success
                if (xhr.status === 200) {
                    console.log("responseText: " + xhr.responseText);
                    download(xhr.responseText, "custom-cube.draftmancer.txt", "txt");
                    return;
                } 

                // error
                if (xhr.status != 200) {
                    handleNon200Response(xhr);
                }
            };
            var data = JSON.stringify({ "card_list": cardListInput, "settings": { "cards_per_booster": cardsPerBooster.value }  });
            xhr.send(data);
        }
        );
    </script>
</body>
</html>