<style>
    #cardListInput {
        display: inline-block;
        margin: 0;
        padding: .2em;
        width: auto;
        min-width: 30em;
        max-width: 95%;
        height: auto;
        min-height: 15em;
        cursor: text;
        overflow: auto;
        resize: both;
    }
</style>

<div style="width: fit-content; margin: auto; text-align: left;">
    <div id="card-list-input-instructions" style="list-style-position: inside;">
        <p>INSTRUCTIONS:</p>
        <ol>
            <li>On <a href="https://dreamborn.ink">dreamborn.ink</a>: go to your cube's page</li>
            <li>Press Menu > Export > Copy to clipboard</li>
            <li>Paste below</li>
        </ol>
        <p>Notes:</p>
        <ul>
            <li>Suppports some Ursula's Return Illumineer's Quest Cards</li>
            <li>May support some cards from unreleased sets</li>
            <li>Does not retain card versions (e.g. enchanteds)</li>
            <li>Any card list of this format should work, but only tested with dreamborn</li>
        </ul>
    </div>
</div>
<br />
<textarea id="cardListInput" placeholder="1 Alice - Growing Girl
1 Let it Go
1 LeFou - Opportunistic Flunky
..."></textarea>
<br />