<form id="cubeForm">
    <div class="form-group">
        <label for="cubeName">Cube Name:</label>
        <input type="text" id="cubeName" name="cubeName" class="form-control" placeholder="Cool Cube">
    </div>

    <div class="form-group">
        <label for="cubeLink">Link:</label>
        <input type="url" id="cubeLink" name="cubeLink" class="form-control" placeholder="https://dreamborn.ink/decks/FGahixWEOeaEGDwHVhQo">
    </div>
    <div class="form-group">
        <label for="cubeAuthor">Author:</label>
        <input type="text" id="cubeAuthor" name="cubeAuthor" class="form-control" placeholder="JoeCool">
    </div>
    
    {% include 'shared/cube_settings_input.html' %}

    {% include 'shared/tag_input.html' %}
    <button id="submit-button" class="action-button">Submit</button>
</form>